<a href="https://colab.research.google.com/github/BehzadShayegh/PythonTutorialExercises/blob/main/Chapter0-IntroductionToPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://image.flaticon.com/icons/svg/1822/1822899.svg' alt="Amirkabir-University-Logo" width="120" height="120" align="left">

<img src='https://aut.ac.ir/templates/tmpl_modern01/images/logo_fa.png' alt="Amirkabir-University-Logo" width="120" height="120" align="right">

<h1 align=center><font size=5> <b><i>Python Tutorial</b><br>Chapter 0 : Introduction to Python</i></font></h1>

*Prepared by Behzad Shayegh*

*It's your turn. Try and learn ...*

### **Introduction**

Hello everyone.

I welcome you all to this course. In this section, we are going to give you some exercises. Maybe some of these exercises are too easy for you and that's because this course starts from scratch; so you can skip it if you think it's not needed.

Keep in mind that, in programming, you have to search. It's common that you don't know answers and need to search to find them. **Searching** is an important skill itself. Use key words noted in questions.

### **Lecture 0 : Welcome to Python**

#### _Exercise 0.0_
Let's begin with **Hello World!**. Print "**Hello World! Hello everyone!**" using two `print()` calls, one per sentence. Notice that both sentences must be printed in the same line.

In [1]:
print("Hello World!", end=' ')
print("Hello everyone!")

Hello World! Hello everyone!

#### _Exercise 0.1_
Get a date from standard input using `input()` call.  Consider `yyyy-mm-dd` as date format (you don't need to check date format).  Split the date into three terms using `str.split()` calls and store them into three variables. Then cast those variables from string to integer using type casting. Then print them like : <br/> year : \<year\> <br/> month : \<month\> <br/> day : \<day\> <br/> Use just one print function per line.

In [ ]:
date = input()
y, m, d = date.split('-')
y = int(y)
m = int(m)
d = int(d)
print('year:', y)
print('month:', m)
print('day:', d)

1392-03-27
year: 1392
month: 3
day: 27

#### _Exercise 0.2_
Get a string input and then, using `str.replace()` calls replace all space characters and question marks `('?')` with  new-line characters `('\n')`. Then turn it to lowercase string using `str.lower()` call and print it.

In [ ]:
s = input()
s = s.replace(' ', '\n')
s = s.replace('?', '\n')
s = s.lower()
print(s)

Is there any other question? Well, I'm going to continue.
is
there
any
other
question

well,
i'm
going
to
continue.

#### _Exercise 0.3_
Get a date input as _exercise #0.1_ date format. Then translate it to `yy/dd/mm` format. You have to just pick two least significant digits for year term.

In [ ]:
d = input()
y, m, d = d.split('-')
d = y[-2:] + '/' + d + '/' + m
print(d)

1373-12-29
73/29/12

#### _Exercise 0.4_
Get a date input as _exercise #0.1_ date format. Then print out how many years passed since the last leap year. First year in persian calendar was a leap year and it occurs every four years. Consider that the input date is a persian date.

In [ ]:
d = input()
y,m,d = d.split('-')
y = int(y)
print(y % 4)

1378-05-16
2

#### _Exercise 0.5_
Get two dates input in _exercise #0.1_ format as your birth date and todays date in order. Then calculate your exact age and then print it out. Assume that every year contains **12 months** and every month contains **30 days**.

In [ ]:
b = input()
by, bm, bd = b.split('-')
by = int(by)
bm = int(bm)
bd = int(bd)
n = input()
ny, nm, nd = n.split('-')
ny = int(ny)
nm = int(nm)
nd = int(nd)
y = ny - by
m = nm - bm
d = nd - bd
days_number = y * 12 * 30 + m * 30 + d
print(days_number)

1374-08-14
1399-01-11
8787

#### _Exercise 0.6_
* Provide a variable containing `None` value; Then check it's type using `type()` call.

* Initialize a variable with a number and then check if it's integer or not.

* What's the type of `int` itself? What about the type of a `type()` output?

In [ ]:
n = None
num = 13
print(type(n))
print(type(num))
print(type(int))
print(type(type(num)))

<class 'NoneType'>
<class 'int'>
<class 'type'>
<class 'type'>

### **Lecture 1 : Control Flow Structures**

#### _Exercise 1.0_
Get a date input in format `yyyy-mm-dd` and check the format. It should be exact like format; `4` digits for year, one dash, `1` or `2` digits for month, another dash and `1` or `2` digits for day.

Then check the ranges: year must be positive and less than `1400`, month must be in range `[1:12]` and each month contains `30` days. print _"Accept"_ only if all conditions are accepted and else print _"Reject"_.

*   Use `str.count()` call to count dashes.
*   Use `len()` call to check length of each term.
*   Use `str.isdigit()` call to check being only digits in each term.
*   Use `<, =, >` operators on each term to chack the ranges.

Use `if`, `elif`, `else` structure to check conditions. Use `and`, `or`, `not` to avoid from duplication.

In [ ]:
date = input()
if date.count('-') == 2 :
  y,m,d = date.split('-')
  if len(y) == 4 and 0 < len(m) <= 2 and 0 < len(d) <= 2 and \
     y.isdigit() and m.isdigit() and d.isdigit() :
    y = int(y)
    m = int(m)
    d = int(d)
    if 0 < y < 1400 and 0 < m <= 12 and 0 < d <= 30 :
      print('Accept')
    else :
      print('Reject')
  else :
    print('Reject')
else :
  print('Reject')

1378-5-16
Accept

#### _Exercise 1.1_
Using a list, containing month days number (in Persian), upgrade answer of _exercise #1.1_ to check day range depend on each month.

_Note that each of the first `6` months contains `31` days and each of next `6` months contains `30` days. Ignore leap years and consider 12th month contains `30` days every year._

In [ ]:
days = [31,31,31,31,31,31,30,30,30,30,30,30]
date = input()
if date.count('-') == 2 :
  y,m,d = date.split('-')
  if len(y) == 4 and 0 < len(m) <= 2 and 0 < len(d) <= 2 and \
     y.isdigit() and m.isdigit() and d.isdigit() :
    y = int(y)
    m = int(m)
    d = int(d)
    if 0 < y < 1400 and 0 < m <= 12 and 0 < d <= days[m-1] :
      print('Accept')
    else :
      print('Reject')
  else :
    print('Reject')
else :
  print('Reject')

1378-31-10
Reject

#### _Exercise 1.2_
Using a list, containing month names (in Persian), upgrade answer of _exercise #1.1_ to work with month names too. Use `list.index()` call to translate month's name to an integer.

_Note that your code should work with month numbers too. Also you need verify that month name is valid using `in`._

In [ ]:
days = [31,31,31,31,31,31,30,30,30,30,30,30]
month_names = ['farvardin','ordibehesht','khordad','tir','mordad','shahrivar','mehr','aban','azar','dey','bahman','esfand']
date = input()
if date.count('-') == 2 :
  y,m,d = date.split('-')
  if len(y) == 4 and 0 < len(d) <= 2 and y.isdigit() and d.isdigit() :
    y = int(y)
    d = int(d)
    if m.isdigit() or m in month_names :
      if m.isdigit() :
        m = int(m)
      else :
        m = month_names.index(m)+1
      if 0 < y < 1400 and 0 < m <= 12 and 0 < d <= days[m-1] :
        print('Accept')
      else :
        print('Reject')
    else :
      print('Reject')
  else :
    print('Reject')
else :
  print('Reject')

1378-tir-31
Accept

#### _Exercise 1.3_
Upgrade answer of _exercise #1.2_ to check leap years. This means that code should accept `esfand-30` if and only if year be a leap year.

_Note that First year in persian calendar was a leap year and it occurs every four years._

In [ ]:
days = [31,31,31,31,31,31,30,30,30,30,30,29]
month_names = ['farvardin','ordibehesht','khordad','tir','mordad','shahrivar','mehr','aban','azar','dey','bahman','esfand']
date = input()
if date.count('-') == 2 :
  y,m,d = date.split('-')
  if len(y) == 4 and 0 < len(d) <= 2 and y.isdigit() and d.isdigit() :
    y = int(y)
    d = int(d)
    if m.isdigit() or m in month_names :
      if m.isdigit() :
        m = int(m)
      else :
        m = month_names.index(m)+1
      if 0 < y < 1400 and 0 < m <= 12 and 0 < d <= (days[m-1] + ((y%4 == 0) * (m == 12))) :
        print('Accept')
      else :
        print('Reject')
    else :
      print('Reject')
  else :
    print('Reject')
else :
  print('Reject')

1397-esfand-30
Reject

#### ***Note :*** List of symbols for the following exercises :
`y = year`

`m = month(number)`

`m_str = month(name)`

`d = day`

`h = hour`

`mn = minute`

`s = second`

`ms = millisecond`

#### _Exercise 1.4_
Using string formatting, print folowing date and time in format `yyyy-mm-dd hh:mm:ss`. Each term must have exactly above formatting (`1398-1-3` must be written as `1398-01-03`).

`y, m, d, h, mn, s = 1399, 1, 13, 12, 32, 2`

In [ ]:
y, m, d, h, mn, s = 1399, 1, 13, 12, 32, 2
string = "{:04d}-{:02d}-{:02d} {:02d}:{:02d}:{:02d}"
print(string.format(y,m,d,h,mn,s))

1399-01-13 12:32:02

#### _Exercise 1.5_
We want implement a date and time counter in this exercise :

##### _1.5.0_
Get two time values as input in the format of `y,m,d,h,mn,s`. Using comparison operators on strings, detect wich time is after another and print result. Use tupples/lists compression (`(1,4) < (2,2)` , `(3,5) > (3,4)` , `(12,1) > (9,91)`).

In [ ]:
time1 = [int(i) for i in input().split(',')]
time2 = [int(i) for i in input().split(',')]
first,last = (time2,time1) if time1 > time2 else (time1,time2)
print(first,'is before',last)

1376,5,11,12,9,19
1385,11,9,5,26,12
[1376, 5, 11, 12, 9, 19] is before [1385, 11, 9, 5, 26, 12]

##### _1.5.1_
Define "_second_" and "_millisecond_" variables and initialize them to `0`. Get an integer input as "_target_" value.  Using a loop, count up "_millisecond_" in each iteration and update "_second_" depend on it. Print "_second_" each time it changes. Replace it with last printed value using special character `'\r'`. Stop loop when "_second_" comes equal to "_target_". (To test, give a big number as "_target_")

In [ ]:
second, millisecond = 0, 0
target = int(input())
while True :
  millisecond += 1
  second, millisecond = (second + (millisecond // 1000)), (millisecond % 1000)
  if not millisecond :
    print('\r', second, end='')
  if second == target :
    break

3500
 3500

##### _1.5.2_
Upgrade exercise #1.5.1 to works with minutes, hours, days, months and years. Get a time input in format of `y,m,d,h,mn,s` as  init values. Also get target time in same format. Assume first input is init value and second one is target. Each year contains 12 months. Each of the first 6 months contains 31 days and each of next 5 months contains 30 days. 12th month contains 29 days if it is not a leap year and else, contains 30 days. Hours must be in rage [0:12] and minuts and seconds must be in rage [0:59]. Print output in every format you want and update it like exercise #1.5.1 .

In [ ]:
days = [31,31,31,31,31,31,30,30,30,30,30,29]
y,m,d,h,mn,s = [int(i) for i in input().split(',')]
lasty,lastm,lastd,lasth,lastmn,lasts = [int(i) for i in input().split(',')]
ms = 0
while True :
  ms    += 1
  s , ms = (s + (ms // 1000)), (ms % 1000)
  mn, s  = (mn +(s // 60)), (s % 60)
  h , mn = (h + (mn // 60)), (mn % 60)
  d , h  = (d + (h // 24)), (h % 24)
  m , d  = (m + ((d - 1) // (days[m-1] + (y % 4 == 0)))), (((d - 1) % (days[m-1] + (y % 4 == 0))) + 1)
  y , m  = (y + ((m - 1) // 12)), (((m - 1) % 12) + 1)
  if ms==0 :
    print('\r', (y,m,d,h,mn,s), end='')
  if (y,m,d,h,mn,s) == (lasty,lastm,lastd,lasth,lastmn,lasts) :
    break

1397,12,29,22,30,12
1398,1,1,1,15,15
 (1398, 1, 1, 1, 15, 15)

##### _1.5.3_
Using your answer to exercise #1.5.0, upgrade your answer to exercise #1.5.2 to detect init time and target time itself (Get two time inputs, use grater one as target and other one as init time). Also print output in format `yyyy-m_str-dd hh:mm:ss`.

In [ ]:
days = [31,31,31,31,31,31,30,30,30,30,30,29]
month_names = ['farvardin','ordibehesht','khordad','tir','mordad','shahrivar','mehr','aban','azar','dey','bahman','esfand']
string = "{:04d}-{}-{:02d} {:02d}:{:02d}:{:02d}"
time1 = [int(i) for i in input().split(',')]
time2 = [int(i) for i in input().split(',')]
first,last = (time2,time1) if time1 > time2 else (time1,time2)
y,m,d,h,mn,s = first
lasty,lastm,lastd,lasth,lastmn,lasts = last
ms = 0
while True :
  ms    += 1
  s , ms = (s + (ms // 1000)), (ms % 1000)
  mn, s  = (mn +(s // 60)), (s % 60)
  h , mn = (h + (mn // 60)), (mn % 60)
  d , h  = (d + (h // 24)), (h % 24)
  m , d  = (m + ((d - 1) // (days[m-1] + (y % 4 == 0)))), (((d - 1) % (days[m-1] + (y % 4 == 0))) + 1)
  y , m  = (y + ((m - 1) // 12)), (((m - 1) % 12) + 1)
  if ms==0 :
    now = string.format(y,month_names[m-1],d,h,mn,s)
    print('\r', now, end='')
  if (y,m,d,h,mn,s) == (lasty,lastm,lastd,lasth,lastmn,lasts) :
    break

1397,12,29,22,30,12
1398,1,1,1,15,15
 1398-farvardin-01 01:15:15

#### _Exercise 1.6_
Here is a list of tuple showing job assigning to personnels.

`[('Manager', 'John'),('Accountant', 'Jack'),('Janitor', 'Benjamin'),('Secretary', 'Elena')]`

Iterate on it and make a dictionary from jobs to personnels. Then get a job from standard input and print that job's personnel. You need to check existence of input job in dictionary (Use `in`). Print _"Not Exists"_ if it doesn't exists.

In [ ]:
jobs = [('Manager', 'John'),('Accountant', 'Jack'),('Janitor', 'Benjamin'),('Secretary', 'Elena')]
personnels = {job: personnel for job,personnel in jobs}
job = input()
if job in personnels :
  print(personnels[job])
else :
  print("Not Exists")

Accountant
Jack

#### _Exercise 1.7_
* Define the same dictionary as you made in _exercise #1.6_.
*   Get an input as command.
*   Consider the following commands:

> _insert_
* Get a job and a personnel separated by white space and insert them to dictionary
* You can do it by `=` or `dict.update()`.

> _get personnel_
* Get a job and print that job's personnel. 
* You can do it by using `dict.get()` and set default value to _"Not Exists"_.

> _get job_
* Get a personnel and print that personnel's job.
* You need iterate trough dictionary to find personnel's job. If that personnel does not exists, print _"Not Exists"_.

> _delete_
* Get a job and delete that item.


If the command is not in the above list, print _"Command Not Found!"_.

In [ ]:
jobs = [('Manager', 'John'),('Accountant', 'Jack'),('Janitor', 'Benjamin'),('Secretary', 'Elena')]
personnels = {job: personnel for job,personnel in jobs}
command = input()
if command == "insert" :
  j,p = input().split()
  personnels[j] = p

elif command == "get personnel" :
  j = input()
  print(personnels.get(j,"Not Exists"))

elif command == "get job" :
  name = input()
  job = "Not Exists"
  for j,p in personnels.items() :
    if name == p :
      job = j
      break
  print(job)

elif command == "delete" :
  job = input()
  del personnels[job]

else :
  print("Command Not Found!")

get job
John
Manager

#### _Exercise 1.8_
Put your answer of _exercise #1.7_ in an infinite loop and add command _"exit"_ to end the loop.

In [ ]:
jobs = [('Manager', 'John'),('Accountant', 'Jack'),('Janitor', 'Benjamin'),('Secretary', 'Elena')]
personnels = {job: personnel for job,personnel in jobs}

while True :
  command = input()

  if command == "insert" :
    j,p = input().split()
    personnels[j] = p

  elif command == "get personnel" :
    j = input()
    print(personnels.get(j,"Not Exists"))

  elif command == "get job" :
    name = input()
    job = "Not Exists"
    for j,p in personnels.items() :
      if name == p :
        job = j
        break
    print(job)

  elif command == "delete" :
    job = input()
    del personnels[job]

  elif command == "exit" :
    break

  else :
    print("Command Not Found!")

insert
Special Sara
get job
Sara
Special
get personnel
Accountant
Jack
ex
Command Not Found!
exit

#### _Exercise 1.9_
Get dates input in format `yyyy-mm-dd` one per line, until "Done" command comes in input. Store input dates in a list using `list.append()` call. Assume inputs are always in correct format (Each of month and day terms has exactly two digits and year term has always four digits). Sort dates using `sorted()` call. Do you need type casts befor sorting? Why (Read about string comparison)? After sorting, print dates in order in folowing format :

1. first date (yyyy-mm-dd)
2. second date (yyyy-mm-dd)
3. ...

Use `enumerate()` call for indexing.

In [ ]:
dates = list()
while True :
  date = input()
  if date == 'Done' :
    break
  dates.append(date)
dates = sorted(dates)
for i,date in enumerate(dates) :
  print('{}. {}'.format(i+1,date))

1378-05-16
1299-09-19
1399-01-12
1398-12-15
Done
1. 1299-09-19
2. 1378-05-16
3. 1398-12-15
4. 1399-01-12

### **Lecture 2 : Functions and Objects**

#### _Exercise 2.0_
Implement `print_date()` function to get a date input in format `year,month,day` and print it in format `yyyy-mm-dd`.

In [ ]:
def print_date(date) :
  y,m,d = date.split(',')
  print('{}-{}-{}'.format(y,m,d))

print_date('1378,5,16')

1378-5-16

#### _Exercise 2.1_
Implement `date_formating()` function to get a date in format `year-month-day` and a format as input and return date in same format. Assume that in input format, `year`, `month` and `day` always shown as `y`, `m` and `d`, characters of each property come side by side and number of characters in each one, determines number of digits of that property. Note that you can assume all the function arguments are well-formed. Follow following steps to do this exercise :
1. Keep first `y`, first `m` and first `d` and remove remaining of this characters. Store this string as output format.
2. Read year, month and day properties from input.
3. Using output format of step 1, Replace `y` with year property, `m` with month property and `d` with day property.
4. Return output of step 3.

Example: Consider the format as `y/m -> d` and the input as `1399-12-03` so the output will be `1399/12 -> 03`.

In [ ]:
def date_formatting(date, format1) :
  format2 = ''
  for c in format1 :
    if c != 'y' and c != 'm' and c != 'd' :
      format2 += c
    else :
      if c not in format2 :
        format2 += c
  y,m,d = date.split('-')
  output = format2.replace('y',y)
  output = output.replace('m',m)
  output = output.replace('d',d)
  return output

print(date_formatting('1399-12-03', 'y/m -> d'))

1399/12 -> 03

#### _Exercise 2.2_
Implement `number_of_days()` to get year and month and return number of days in that month. Consider that each of the first 6 months contains 31 days and each of next 5 months contains 30 days. Last year contains 29 days. Be care about leap years, only if year be a leap year, 12th month contains 30 days. Note that First year in persian calendar was a leap year and it occurs every four years.

In [ ]:
def number_of_days(y, m) :
  days = [31,31,31,31,31,31,30,30,30,30,30,29]
  return days[m-1] + ((y%4 == 0) * (m == 12))

#### _Exercise 2.3_
Implement `check_date()` to validate a date input. This function must get 3 inputs year, month and day. Assume inputs are strings or integers. Exercise 1.3 can help you. Consider following steps :
1. Check inputs can be casted to integers (cast them).
2. Give a `max_year` input and set it to 1400 as default. Check input year be positive and less than or equal to `max_year`.
3. Check month be in range [1:12].
4. Check day be in range. Use `number_of_days()` from exercise 2.2.

In [ ]:
def check_date(y, m, d, max_year=1400) :
  y = str(y)
  m = str(m)
  d = str(d)
  if not (y.isdigit() and m.isdigit() and d.isdigit()) :
    return False
  y = int(y)
  m = int(m)
  d = int(d)
  return 0 < y <= max_year and 0 < m <= 12 and 0 < d <= number_of_days(y,m)

print(check_date('1399',12,'2'))
print(check_date('1499',12,'2'))
print(check_date('1499',12,'2', max_year=1500))
print(check_date('149!',12,'2', max_year=1500))
print(check_date(1399,12,29))
print(check_date(1399,12,30))
print(check_date(1400,12,29))

True
False
True
False
True
False
True

#### _Exercise 2.4_
Implement `date_formatting_2()` to check input date using `check_date` from exercise #2.3 and then call `date_formatting()` from exercise #2.1. If each one of inputs was not correct, function must return an error message. Also check input date be in `year-month-day` format.

In [ ]:
def date_formatting_2(date, format_) :
  datelist = date.split('-')
  if len(datelist) != 3 :
    return "Input date must be in format `year,month,day`"
  if not check_date(datelist[0],datelist[1],datelist[2]) :
    return "Input date is wrong!"
  return date_formatting(date, format_)

for d,f in [('1378,7,16','yy/mm -> dd'),
            ('1378-7-16','$yy/mm -> dd$'),
            ('1399-12-30','this $$ date : $yy/mm -> dd$')
            ] :
  print(date_formatting_2(d, f))

Input date must be in format `year,month,day`
$1378/7 -> 16$
Input date is wrong!

#### _Exercise 2.5_
Implement `next_day()` to get year, month and day input (integer and valid) and return year, month and day values of next day. Consider steps 2, 3, and 4 of exercise #2.3.

In [ ]:
def next_day(y, m, d) :
  d += 1
  m , d  = (m + ((d - 1) // number_of_days(y,m))), ((d - 1) % number_of_days(y,m) + 1)
  y , m  = (y + ((m - 1) // 12)), (((m - 1) % 12) + 1)
  return y,m,d

print(next_day(1376,12,3))
print(next_day(1378,12,29))
print(next_day(1396,12,29))

(1376, 12, 4)
(1379, 1, 1)
(1396, 12, 30)

#### _Exercise 2.6_
Using `next_day()` from exercise 2.5, Implement `date_distance()` to get tow date inputs and return number of days between them. Assume dates are in format `year-month-day` and second date is always greater.

In [ ]:
def date_distance(d1, d2) :
  d1 = [int(d) for d in d1.split('-')]
  d2 = [int(d) for d in d2.split('-')]
  d = 0
  while d1[0] != d2[0] or d1[1] != d2[1] or d1[2] != d2[2] :
    d1 = next_day(d1[0],d1[1],d1[2])
    d += 1
  return d

print(date_distance('1396-12-29', '1397-1-12'))

13

#### _Exercise 2.7_
Acording to what we did before, we are to implement `Date` class. For this, We need :

* `__init__()` :
  * Inputs :
    * `self` : ;
    * `delimiter[default='-']` : Delimiter in `date`.
    * `max_year[default=1400]` : Latest valid year.
  * Return value : `None`
  * In this function, first store properties and methods of class. Store `delimiter` and `max_year` as class properties and methods. Also set a property named `str_format` to `"yyyy-mm-dd"`.

* `splitter()` :
  * Inputs :
    * `self`: To use its `delimiter` property.
    * `date`: A string.
  * Return value : A list including `date` splited by `self.delimiter`.

* `number_of_days()` :
  * Inputs :
    * `self` : ;
    * `year`,`month` : Each one an integer.
  * Return value : This function must return number of days in `month` of `year` (Exercise #2.2).

* `check_date()` :
  * Inputs :
    * `self` : To use its `number_of_days()` function and `max_year` property.
    * `year`,`month`,`day` : Each one an integer.
  * Return value : This function must check if `year`, `month` and `day` are valid in same time (Exercise #2.3).

* `set_date()` :
  * Inputs :
    * `self` : ;
    * `date` : Input in format `year-month-day` (Or using other delimiters). 
  * Return value : A boolean value showing success.
  * Split `date` using `splitter()`. Then check its ranges correctness using `check_date()` (If there was any incorrectness, print an error and return `False`). Then store its parts in three properties of class (`y`,`m`,`d`) and return `True`. Assume that input date is in right format.

* `set_format()` :
  * Inputs :
    * `self` : ;
    * `new_format` : A string in standard of Exercise #2.2.
  * Return value : `None`
  * set `str_format` property to `new_format`.

* `next_day()` :
  * Inputs :
    * `self` : ;
  * Return value : `None`
  * Update it's `y`, `m` and `d` (Exercise #2.5).

* `to_string()` :
  * Inputs :
    * `self` : ;
  * Retyrn value : A string showing `date` in `str_format` format (Exercise #2.1).

In [ ]:
class Date :
  def __init__(self, delimiter='-', max_year=1400) :
    self.delimiter = delimiter
    self.max_year = max_year
    self.str_format = "yyyy-mm-dd"

  def splitter(self, date) :
    return date.split(self.delimiter)

  def number_of_days(self, year, month) :
    days = [31,31,31,31,31,31,30,30,30,30,30,29]
    return days[month-1] + ((year%4 == 0) * (month == 12))

  def check_date(self, year, month, day) :
    return 0 < year <= self.max_year and 0 < month <= 12 and 0 < day <= self.number_of_days(year, month)

  def set_date(self, date) :
    date = self.splitter(date)
    y, m, d = [int(i) for i in date]
    if not self.check_date(y, m, d) :
      print("Date out of range")
      return False
    self.y = y
    self.m = m
    self.d = d
    return True

  def set_format(self, new_format) :
    self.str_format = new_format

  def to_string(self) :
    format2 = ''
    for c in self.str_format :
      if c != 'y' and c != 'm' and c != 'd' :
        format2 += c
      else :
        if c not in format2 :
          format2 += c
    y,m,d = [str(z) for z in [self.y, self.m, self.d]]
    output = format2.replace('y',y)
    output = output.replace('m',m)
    output = output.replace('d',d)
    return output

  def next_day(self) :
    y,m,d = self.y, self.m, self.d
    d += 1
    m , d  = (m + ((d - 1) // self.number_of_days(y,m))), ((d - 1) % self.number_of_days(y,m) + 1)
    y , m  = (y + ((m - 1) // 12)), (((m - 1) % 12) + 1)
    self.y, self.m, self.d = y,m,d


##############################################################################################
##                                           Test                                           ##
##                                           ....                                           ##
##############################################################################################
my_date = Date()
my_date.set_date('1396-2-12')
my_date.set_format('YEAR yyyy MONTH m DAY dd')
my_date.next_day()
print(my_date.to_string())

YEAR 1396 MONTH 2 DAY 13

#### _Exercise 2.8_
Acording to `Date` class we implemented in exercise 2.7, We are to implement an `Event` class wich contains a pair of events name and events date. So we need :

* `__init__()` :
  * Inputs :
    * `self` : ;
    * `name` : A string.
    * `date` : A `Date` instance.
  * Return value : `None`
  * Just store name and date as properties.

* `to_string()` :
  * Inputs :
    * `self` : ;
  * Return value : A string showing event info. You need to use `Date.to_string()` call in this function.
  * Output string should be like :
  ```
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  >> "event_date" : "event_name"
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
  ```

In [ ]:
class Event :
  def __init__(self, name, date) :
    self.name = name
    self.date = date
  
  def to_string(self) :
    return """
      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
      >> {} : {}
      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
    """.format(self.date.to_string(), self.name)


my_event = Event("Wedding", my_date)
print(my_event.to_string())

      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
      >> YEAR 1396 MONTH 2 DAY 13 : Wedding
      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

### **Lecture 3 : Conclusion**

#### _Exercise 3.0_

##### _3.0.0_
Create class `Date` right like what you did in _lecture #2_; But do not use default value for `max_year` attribute and define `number_of_days()` that its body it just a `pass` statement. Put your code in a file named `Date.py`.

In [ ]:
#########    In file Date.py    #########
class Date :
  def __init__(self, delimiter, max_year):
    self.delimiter = delimiter
    self.max_year = max_year
    self.str_format = "yyyy-mm-dd"

  def splitter(self, date) :
    return date.split(self.delimiter)

  def number_of_days(self, year, month) :
    pass

  def check_date(self, year, month, day) :
    return 0 < year <= self.max_year and 0 < month <= 12 and 0 < day <= self.number_of_days(year, month)

  def set_date(self, date) :
    date = self.splitter(date)
    y, m, d = [int(i) for i in date]
    if not self.check_date(y, m, d) :
      print("Date out of range")
      return False
    self.y = y
    self.m = m
    self.d = d
    return True

  def set_format(self, new_format) :
    self.str_format = new_format

  def to_string(self) :
    format2 = ''
    for c in self.str_format :
      if c != 'y' and c != 'm' and c != 'd' :
        format2 += c
      else :
        if c not in format2 :
          format2 += c
    y,m,d = [str(z) for z in [self.y, self.m, self.d]]
    output = format2.replace('y',y)
    output = output.replace('m',m)
    output = output.replace('d',d)
    return output

  def next_day(self) :
    y,m,d = self.y, self.m, self.d
    d += 1
    m , d  = (m + ((d - 1) // self.number_of_days(y,m))), ((d - 1) % self.number_of_days(y,m) + 1)
    y , m  = (y + ((m - 1) // 12)), (((m - 1) % 12) + 1)
    self.y, self.m, self.d = y,m,d

##### _3.0.1_
Create a class named `PersianDate`,  which will inherit from the `Date` class to works in Persian calendar (You need import `Date` class from `Date.py`). Do followings :

* Change `max_year` default value to 1400 in `__init__()` function (Use `super()` instead of rewrite functions body).

* Overwrite `number_of_days()` function of this class to check `date` ranges with Gregorian calendar limits; You can see this limits as a function :
```
def Persian_number_of_days(year, month) :
    days = [31,31,31,31,31,31,30,30,30,30,30,30]
    return days[month-1] + ((year%4 == 0) * (month == 12))
```

* Add `"(Persian)"` at the end of `to_string` output. Use `Date.to_string` itself and just add `"(Gregorian)"` to its output (Use `super()`).

* Put your code in a file named `PersianDate.py`.

In [ ]:
#########    In file PersianDate.py    #########
# from Date import Date
class PersianDate(Date) :
  def __init__(self, delimiter='-', max_year=1400) :
    super().__init__(delimiter, max_year)

  def to_string(self) :
    return super().to_string() + " (Persian)"
  
  def number_of_days(self, year, month) :
    days = [31,31,31,31,31,31,30,30,30,30,30,29]
    return days[month-1] + ((year%4 == 0) * (month == 12))

#########    Test    #########
my_date = PersianDate()
my_date.set_date('1998-8-31')
my_date.set_date('1398-8-3')
my_date.set_format('YEAR yyyy MONTH m DAY dd')
my_date.next_day()##### _3.0.2_
print(my_date.to_string())

Date out of range
YEAR 1398 MONTH 8 DAY 4 (Persian)

##### _3.0.2_
Create a class named `GregorianDate`, which will inherit from the `Date` class to works in Gregorian calendar(You need import `Date` class from `Date.py`). Do followings :

* Change `max_year` default value to 2020 in `__init__()` function (Use `super()` instead of rewrite functions body).

* Overwrite `number_of_days()` function of this class to check `date` ranges with Gregorian calendar limits; You can see this limits as a function :
```
def gregorian_number_of_days(year, month) :
    days = [31,28,31,30,31,30,31,31,30,31,30,31]
    return days[month-1] + ((year%4 == 1) * (month == 2))
```

* Add `"(Gregorian)"` at the end of `to_string` output. Use `Date.to_string` itself and just add `"(Gregorian)"` to its output (Use `super()`).

* Put your code in a file named `GregorianDate.py`.

In [ ]:
#########    In file GregorianDate.py    #########
from Date import Date
class GregorianDate(Date) :
  def __init__(self, delimiter='-', max_year=2020) :
    super().__init__(delimiter, max_year)

  def to_string(self) :
    return super().to_string() + " (Gregorian)"
  
  def number_of_days(self, year, month) :
    days = [31,28,31,30,31,30,31,31,30,31,30,31]
    return days[month-1] + ((year%4 == 1) * (month == 2))


#########    Test    #########
my_date = GregorianDate()
my_date.set_date('1998-8-31')
my_date.set_format('YEAR yyyy MONTH m DAY dd')
my_date.next_day()##### _3.0.2_
print(my_date.to_string())

YEAR 1998 MONTH 9 DAY 1 (Gregorian)

#### _Exercise 3.1_
Import `time` and print output of `time.ctime()` function.

In [ ]:
import time

print(time.ctime())

Tue Apr 28 22:09:44 2020

#### _Exercise 3.2_
Here is two parallel lists of meeting dates and roles have to go to meeting :

`['1399-1-12','1399-1-13','1399-1-9','1399-1-26','1399-2-12','1399-1-29','1399-2-2','1399-2-29','1399-3-25','1399-5-12','1400-1-5']`

`['Manager','Secretary','Manager','Secretary','Accountant','Manager','Secretary','Accountant','Manager','Secretary','Manager']`

Using dictionary you mande in exercise #1.6, make a dictionary of personnels to empety lists and name it "*meetings*" (You need use `dict.values()` call). Then iterate on above lists (use `zip()` call to iterate over them synchronized) and perform meeting dates for each personnel in meetings dictionary. Then print John's meeting dates.

* Dictionary of exercise #1.6 :
```
jobs = [('Manager', 'John'),('Accountant', 'Jack'),('Janitor', 'Benjamin'),('Secretary', 'Elena')]
personnels = {job: personnel for job,personnel in jobs}
```

In [ ]:
jobs = [('Manager', 'John'),('Accountant', 'Jack'),('Janitor', 'Benjamin'),('Secretary', 'Elena')]
dates = ['1399-1-12','1399-1-13','1399-1-9','1399-1-26','1399-2-12','1399-1-29','1399-2-2','1399-2-29','1399-3-25','1399-5-12','1400-1-5']
roles = ['Manager','Secretary','Manager','Secretary','Accountant','Manager','Secretary','Accountant','Manager','Secretary','Manager']

personnels = {job: personnel for job,personnel in jobs}
meetings = {personnel: list() for personnel in personnels.values()}
for role,date in zip(roles,dates) :
  meetings[personnels[role]].append(date)

print(meetings['John'])

['1399-1-12', '1399-1-9', '1399-1-29', '1399-3-25', '1400-1-5']



#### _Exercise 3.3_
Sort meetings dictionary you made in _exercise #3.2_ by "number of meetings". Then print it iterating on it. Use `len()`, `sorted()` and `dict.items()` calls and `key` attribute of sorted function (Pass a `lambda` funciotn to `key` wich takes a tuple of `(key,value)` from dictionary as input and returns what we want to sort by).

In [ ]:
jobs = [('Manager', 'John'),('Accountant', 'Jack'),('Janitor', 'Benjamin'),('Secretary', 'Elena')]
dates = ['1399-1-12','1399-1-13','1399-1-9','1399-1-26','1399-2-12','1399-1-29','1399-2-2','1399-2-29','1399-3-25','1399-5-12','1400-1-5']
roles = ['Manager','Secretary','Manager','Secretary','Accountant','Manager','Secretary','Accountant','Manager','Secretary','Manager']

personnels = {job: personnel for job,personnel in jobs}
meetings = {personnel: list() for personnel in personnels.values()}
for role,date in zip(roles,dates) :
  meetings[personnels[role]].append(date)

sorted_meetings = sorted(meetings.items(), key=lambda x: len(x[1]))
for p,m in sorted_meetings :
  print(p,':',m)

Benjamin : []
Jack : ['1399-2-12', '1399-2-29']
Elena : ['1399-1-13', '1399-1-26', '1399-2-2', '1399-5-12']
John : ['1399-1-12', '1399-1-9', '1399-1-29', '1399-3-25', '1400-1-5']

### **Lecture 4 : Functional Programing and Review**

#### _Exercise 4.0_
We are to implement `next_day()` function (exercise #2.6) using lambda functions :

##### _4.0.0_
Write a lambda function named `inc_day()` to get 3 arguments `now`, `inc` and `max_possible`. `now` is an integer showing current day. `inc` is a boolean, if it's `False`, function do nothing. `max_possible` is number of days in current month. This function must returns a tupple `(day, inc_month)` that `day` is an integer showing increamented day and `inc_month` is a boolean showing that we are in next month or not.

In [ ]:
inc_day = lambda now, inc, max_possible : ((now+inc-1)%(max_possible)+1, not (now+inc)%(max_possible+1))

print(inc_day(12, True, 30))
print(inc_day(29, True, 30))
print(inc_day(29, False, 30))
print(inc_day(30, True, 30))

(13, False)
(30, False)
(29, False)
(1, True)

##### _4.0.1_
Write a lambda function named `inc_month()` to get 2 arguments `now`, `inc`. `now` is an integer showing current month. `inc` is output of `inc_day()` that you must use second property of that; If it's `False`, function do nothing. This function must returns a tupple `(day, month, inc_year)` that `day` is first property of `inc`, `month` is an integer showing increamented month and `inc_year` is a boolean showing that we are in next year or not.

In [ ]:
inc_month = lambda now, inc : (inc[0], (now+inc[1]-1)%(12)+1, not (now+inc[1])%(12+1))

print(inc_month(9, inc_day(12, True, 30)))
print(inc_month(12, inc_day(29, True, 29)))
print(inc_month(9, inc_day(29, False, 30)))
print(inc_month(9, inc_day(30, True, 30)))

(13, 9, False)
(1, 1, True)
(29, 9, False)
(1, 10, False)

##### _4.0.2_
Write a lambda function named `inc_year()` to get 2 arguments `now`, `inc`. `now` is an integer showing current year. `inc` is output of `inc_month()` that you must use third property of that; If it's `False`, function do nothing. This function must returns a tupple `(day, month, year)` that `day` and `month` are first and second properties of `inc` and `year` is an integer showing increamented month.

In [ ]:
inc_year = lambda now, inc : (inc[0], inc[1], now+inc[2])

print(inc_year(12, inc_month(12, inc_day(29, True, 29))))
print(inc_year(12, inc_month(9, inc_day(30, True, 30))))

(1, 1, 13)
(1, 10, 12)

##### _4.0.3_
Write a lambda function named `next_day()` to get 1 argument, a tupple as `(year, month, day)`. Using a list containing possible number of days in months and `inc_day`, `inc_month`, `inc_year` inside each other, implement `next_day()`.

In [ ]:
possible_number_of_days = [31,31,31,31,31,31,30,30,30,30,30,29]
next_day = lambda ymd : inc_year(ymd[0], inc_month(ymd[1], inc_day(ymd[2], True, possible_number_of_days[ymd[1]-1])))

print(next_day((12,12,29)))

(1, 1, 13)

#### _Exercise 4.1_
Assume folowing list of dates as out data :

```data = [(12,12,29), (14,9,11), (13,3,31), (12,12,11)]```

Run `next_day()` function (you implement in exercise #4.0) over all items in data using `map()` function and store them in `data` again. you need cast output of `map` to list.

In [ ]:
data = [(12,12,29), (14,9,11), (13,3,31), (12,12,11)]
data = list(map(next_day, data))
print(data)

[(1, 1, 13), (12, 9, 14), (1, 4, 13), (12, 12, 12)]

#### _Exercise 4.2_
<It's not same as exercise #2.1.>

Implement `date_formating()` function to get a date in format `year-month-day` and a format as input and return date in same format. Set default format to `yyyy-mm-dd`. Assume that in input format, `year`, `month` and `day` always shown as `y`, `m` and `d`, characters of each property come side by side and number of characters in each one, determines number of digits of that property. If number of digits was less that input lenght, you must pick less significant digits. Follow following steps to do this exercise :
1. Count `y`, `m` and `d`s in input format and store them.
2. Keep first `y`, first `m` and first `d` and remove remaining of this characters. Store this string as output format.
3. Read year, month and day properties from input.
4. Edit number of digits of step 4 properties according to step 1 counts.
5. Using output format of step 2, Replace `y` with year property, `m` with month property and `d` with day property.
6. Return output of step 4.

In [ ]:
def date_formatting(date, format1) :
  y_no = format1.count('y')
  m_no = format1.count('m')
  d_no = format1.count('d')
  format2 = ''
  for c in format1 :
    if c != 'y' and c != 'm' and c != 'd' :
      format2 += c
    else :
      if c not in format2 :
        format2 += c
  y,m,d = date.split('-')
  y = y[-y_no:] if y_no < len(y) else '0'*(y_no - len(y)) + y
  m = m[-m_no:] if m_no < len(m) else '0'*(m_no - len(m)) + m
  d = d[-d_no:] if d_no < len(d) else '0'*(d_no - len(d)) + d
  output = format2.replace('y',y)
  output = output.replace('m',m)
  output = output.replace('d',d)
  return output

print(date_formatting('1399-12-3', 'yy/mm -> dd'))

99/12 -> 03

#### _Exercise 4.3_
In excercise #M.2, What if input format be `year: yyyy`? Then `y` character in word `year` should not be affected. Upgrade `date_formating()` to understand special character `$`. `y`, `m` and `d` are simbols, just if appear between two special character `$` and this character should not appear in output itself. What if we need `$` itself in format? Your function must understand `$$` as `$` character itself, not a special character. Assume that `$` will be used correctly. Also assume that at most, One set of each property (year, month and day) in each date area (date area means characters between two `$` simbols). Note that each property cat be repeated in several date areas in different number of digits. Name this function `date_formatting2()` and use `date_formatting()` in it.

In [ ]:
def date_formatting2(date, format1) :
  parts_of_format = format1.split('$')
  for i,part in enumerate(parts_of_format) :
    if 0 < i < len(parts_of_format)-1 and part == '' :
      parts_of_format[i] = '$'
    elif i % 2 == 1 :
      parts_of_format[i] = date_formatting(date, part)      
  return ''.join(parts_of_format)

for f in ['yy/mm -> dd',
          '$yy/mm -> dd$',
          'date : $yy/mm -> dd$',
          'this $$ date : $yy/mm -> dd$'
          ] :
  print(date_formatting('1399-12-3', f))
  print(date_formatting2('1399-12-3', f))
  print()

99/12 -> 03
yy/mm -> dd

$99/12 -> 03$
99/12 -> 03

003ate : $99/12 -> $
date : 99/12 -> 03

this $$ 003ate : $99/12 -> $
this $ date : 99/12 -> 03

#### _Exercise 4.4_
Implement `check_format()` to check correctnes of input format in exercise #M.3. This function returns a boolean values shoing correctness of format Input format must :
* Have event number of `$` characters.
* Less than 5 `y` simbol characters in each date area.
* Less than 3 `m` simbol characters in each date area.
* Less than 3 `d` simbol characters in each date area.
* At most, One set of each property in each date area. Note that each property can be repeated in several date areas in different number of digits.
* In each date area, `y` simbol characters must apear side by side. also `m` and `d` simbols.

In [ ]:
def check_format(format_) :
  if format_.count('$') % 2 == 1 :
    return False
  for part in format_.split('$') :
    if part.count('y') > 4 or part.count('m') > 2 or part.count('d') > 2 :
      return False
    newpart = ''
    for i,c in enumerate(part) :
      if i > 0 and c == part[i-1] :
        newpart += ''
      else :
        newpart += c
    if newpart.count('y') > 1 or newpart.count('m') > 1 or newpart.count('d') > 1 :
      return False
  return True

for f in ['yy/mm -> dd',
          'yy/mm -> yy/dd',
          '$yy/mm -> ddd$',
          'date : $yy/mm -> dd$',
          'this $$ date : $yy/mm -> dd$',
          'this $ date : $yy/mm -> dd$',
          'this $yyy/m$ date : $yy/mm -> dd$',
          'this $$ date : $$',
          ] :
  print(check_format(f))

True
False
False
True
True
False
True
True

#### _Exercise 4.5_
Implement `previous_day()` just like `next_day()` in exercise #2.5.

In [ ]:
def previous_day(y, m, d) :
  d -= 1
  if d > 0 :
    return y, m,d
  m -= 1
  if m > 0 :
    return y, m, number_of_days(y, m)
  y -= 1
  return y, 12, number_of_days(y,12)

print(previous_day(1376, 12, 1))
print(previous_day(1397, 1, 1))
print(previous_day(1398, 1, 1))

(1376, 11, 30)
(1396, 12, 30)
(1397, 12, 29)

### **More Exercises :**

#### _Exercise M.0_
Acording to what we did before, we are to implement `Special_Date` class. For this, We need :

* `__init__()` :
  * Inputs :
    * `self` : ;
    * `delimiter[default='-']` : Delimiter in `date`.
    * `max_year[default=1400]` : Latest valid year.
  * Return value : `None`
  * Set inputs as class properties. Also set a property named `str_format` to `"$yyyy-mm-dd$"`.

* `splitter()` :
  * Inputs :
    * `self`: To use its `delimiter` property.
    * `date`: A string.
  * Return value : A list including `date` splited by `self.delimiter`.

* `check_date_format()` :
  * Inputs :
    * `self`: ;
    * `date`: A list if strings (As date properties).
  * Return value : This function must check that is `date` in format `year-month-day`. So needs to check number of properties be 3 and each one is castable to integer.

* `number_of_days()` :
  * Inputs :
    * `self`: ;
    * `year`,`month` : Each one an integer.
  * Return value : This function must return number of days in `month` of `year` (Exercise #2.4).

* `check_date()` :
  * Inputs :
    * `self` : To use its `number_of_days_id()` function and `max_year` property.
    * `year`,`month`,`day` : Each one an integer.
  * Return value : This function must check if `year`, `month` and `day` are valid in same time (Exercise #2.5).

* `set_date()` :
  * Inputs :
    * `self` : ;
    * `date` : Input in format `year-month-day` (Or using other delimiters).
  * Return value : A boolean value showing success.
  * Check date format using `check_date_format()` and its ranges correctness using `check_date()` (If there was any incorrectness, print an error and return `False`).

* `check_format()` :
  * Inputs :
    * `self` : ;
    * `new_format` : A string in standard of Exercise #4.4.
  * Return value : A boolean value showing that `new_format` is valid or not (Exercise #2.3).

* `set_format()` :
  * Inputs :
    * `self` : ;
    * `new_format` : A string in standard of Exercise #4.4.
  * Return value : `None`
  * After check validation of `new_format` using `check_format()`, set `str_format` property to `new_format`.

* `__str__()` :
  * Inputs :
    * `self` : ;
  * Return value : A string in format `str_format` showing date (Exercise #2.2). define hellper methods and use them like Exercise #2.2.
  * `__str__()` calls everywhen instance of class is casting to `str` (for example in `print()` method).

* `__getitem__()` :
  * Inputs :
    * `self` : ;
    * `index` : A string or integer.
  * Return value :
    * If `index` was "_year_" (case insensitive) or "_y_" or "_Y_" or "_0_" or _0_, `y`.
    * If `index` was "_month_" (case insensitive) or "_m_" or "_M_" or "_1_" or _1_, `m`.
    * If `index` was "_day_" (case insensitive) or "_d_" or "_D_" or "_2_" or _2_, `d`.
    * Otherwise `None`.
  * `__getitem__()` calls when we use instance of class with an index (for example instance["Year"]).

* `copy()` :
  * Inputs :
    * `self` : ;
  * Return value : Another instance of same class with exactly same properties. You need to make an instalce of `Date` class and pass `self` properties to it. Don't forget `str_format` property.

* `next()` :
  * Inputs :
    * `self` : ;
  * Return value : Another instance of same class with exactly same properties but in next day. You need to get a copy of class and then update it's `y`, `m` and `d` (Exercise #2.5).

* `previous_day()` :
  * Inputs :
    * `self` : ;
  * Return value : Another instance of same class with exactly same properties but in previous day. You need to get a copy of class and then update it's `y`, `m` and `d` (Exercise #4.5).

* Comparing :
  * `__eq__(self, other)`
  * `__ne__(self, other)`
  * `__lt__(self, other)`
  * `__le__(self, other)`
  * `__gt__(self, other)`
  * `__ge__(self, other)`
    * Each of these methods are to comparing two instances of class. These methods are in order : _equal_, _not_ _equal_, _less_ _than_, _less_ _equal_, _greater_ _than_, _greater_ _equal_. Using `y`, `m` and `d` properties, implement these methods. We need them to compairing `Date`s and sorting them.

In [ ]:
class Special_Date :

  def __init__(self, delimiter='-', max_year=1400) :
    self.delimiter = delimiter
    self.max_year = max_year
    self.str_format = "$yyyy-mm-dd$"

  def splitter(self, date) :
    return date.split(self.delimiter)

  def check_date_format(self, date) :
    if len(date) != 3 :
      return False
    for d in date :
      if not d.isdigit() :
        return False
    return True

  def number_of_days_in(self, year, month) :
    days = [31,31,31,31,31,31,30,30,30,30,30,29]
    return days[month-1] + ((year%4 == 0) * (month == 12))

  def check_date(self, year, month, day) :
    return 0 < year <= self.max_year and 0 < month <= 12 and 0 < day <= self.number_of_days_in(year, month)

  def set_date(self, date) :
    date = self.splitter(date)
    if not self.check_date_format(date) :
      print("Date format is wrong")
      return
    y, m, d = [int(i) for i in date]
    if not self.check_date(y, m, d) :
      print("Date out of range")
      return
    self.y = y
    self.m = m
    self.d = d

  def check_format(self, new_format) :
    if new_format.count('$') % 2 == 1 :
      return False
    for part in new_format.split('$') :
      if part.count('y') > 4 or part.count('m') > 2 or part.count('d') > 2 :
        return False
      newpart = ''
      for i,c in enumerate(part) :
        if i > 0 and c == part[i-1] :
          newpart += ''
        else :
          newpart += c
      if newpart.count('y') > 1 or newpart.count('m') > 1 or newpart.count('d') > 1 :
        return False
    return True

  def set_format(self, new_format) :
    if not self.check_format(new_format) :
      return False
    self.str_format = new_format

  def date_formatting_apart(self, this_format) :
    y_no = this_format.count('y')
    m_no = this_format.count('m')
    d_no = this_format.count('d')
    output = ''
    for c in this_format :
      if c != 'y' and c != 'm' and c != 'd' :
        output += c
      elif c not in output :
          output += c
    y, m, d = str(self.y), str(self.m), str(self.d)
    y = y[-y_no:] if y_no < len(y) else '0'*(y_no - len(y)) + y
    m = m[-m_no:] if m_no < len(m) else '0'*(m_no - len(m)) + m
    d = d[-d_no:] if d_no < len(d) else '0'*(d_no - len(d)) + d
    output = output.replace('y',y)
    output = output.replace('m',m)
    output = output.replace('d',d)
    return output

  def date_formatting(self) :
    parts_of_format = self.str_format.split('$')
    for i,part in enumerate(parts_of_format) :
      if 0 < i < len(parts_of_format)-1 and part == '' :
        parts_of_format[i] = '$'
      elif i % 2 == 1 :
        parts_of_format[i] = self.date_formatting_apart(part)  
    return ''.join(parts_of_format)

  def __str__(self) :
    return self.date_formatting()

  def __getitem__(self, index) :
    return {
        "year" : self.y,
        "y" : self.y,
        "0" : self.y,
        "month" : self.m,
        "m" : self.m,
        "1" : self.m,
        "day" : self.d,
        "d" : self.d,
        "2" : self.d,
    }.get(str(index).lower(), None)

  def copy(self) :
    new = Date(delimiter=self.delimiter, max_year=self.max_year)
    new.set_date(str(self.y)+self.delimiter+str(self.m)+self.delimiter+str(self.d))
    new.set_format(self.str_format)
    return new

  def next(self) :
    new = self.copy()
    new.d += 1
    new.m , new.d  = (new.m + ((new.d - 1) // self.number_of_days_in(new.y, new.m))), ((new.d - 1) % self.number_of_days_in(new.y, new.m) + 1)
    new.y , new.m  = (new.y + ((new.m - 1) // 12)), (((new.m - 1) % 12) + 1)
    return new

  def previous(self) :
    new = self.copy()
    new.d -= 1
    if new.d > 0 :
      return new
    new.m -= 1
    if new.m > 0 :
      new.d = new.number_of_days_in(new.y, new.m)
      return new
    y -= 1
    new.m = 12
    new.d = new.number_of_days_in(new.y, new.m)
    return new

  def __eq__(self, other) :
    return self.y == other.y and self.m == other.m and self.d == other.d
  def __ne__(self, other) :
    return not self == other
  def __lt__(self, other) :
    return self.y < other.y or \
          (self.y == other.y and self.m < other.m) or \
          (self.y == other.y and self.m == other.m and self.d < other.d)
  def __le__(self, other) :
    return self == other or self < other
  def __gt__(self, other) :
    return not self <= other
  def __ge__(self, other) :
    return not self < other

##############################################################################################
##                                           Test                                           ##
##                                           ....                                           ##
##############################################################################################
my_date = Special_Date()
my_date.set_date('1396-2-12')
my_date.set_format('$dd$th of month $mm$ year $yy$')
print(my_date.previous())
print(my_date['Day'])

print('=========================================================')

print(my_date == my_date.copy())
print(my_date == my_date.next())
print(my_date < my_date.next())
print(my_date >= my_date.previous())
dates = [my_date, my_date.previous(), my_date.next(), my_date.copy(), my_date.next().next(), my_date.copy()]
print('=========================================================')
for d in dates :
  print(d)
print('=========================================================')
for d in sorted(dates) :
  print(d)

11th of month 02 year 96
12
=========================================================
True
False
True
True
=========================================================
12th of month 02 year 96
11th of month 02 year 96
13th of month 02 year 96
12th of month 02 year 96
14th of month 02 year 96
12th of month 02 year 96
=========================================================
11th of month 02 year 96
12th of month 02 year 96
12th of month 02 year 96
12th of month 02 year 96
13th of month 02 year 96
14th of month 02 year 96

#### _Exercise M.1_
In this exercise, we are to implement `Calendar` class to store personal events with dates. For this, We need :

* `__init__()` :
  * Inputs :
    * `self` : ;
    * `name` : String, calendar name.
  * Return value : `None`
  * In this function, you must initialize class properties. Set `name` property to `name` input and set `events` property to an empty dictionary.

* `new_date()` :
  * Inputs :
    * self : ;
    * date : String input containing date in format `yyyy-mm-dd`.
  * Return value : `Special_Date` instance.

* `add_event()` :
  * Inputs :
    * `self` : ;
    * `name` : String, event name.
    * `date` : String.
  * Return value : `None`
  * Make a `Special_Date` instance using `date` input and add `(name, new_date)` pair to `events` dictionart as `(key, value)` pair. If `name` already exists in calendar, print an error and do nothing.

* `size()` :
  * Inputs :
    * `self` : ;
  * Return value : Size of `events` dictionary.

* `__str__()` :
  * Inputs :
    * `self` : ;
  * Return value : A string describing calendar. It should be in following style (sorted by dates) :
```
Calendar Name : <name> | Size of calendar : <size> 
=============================================================
0   | <event #0 name>           | <event #0 date>           |
1   | <event #1 name>           | <event #1 date>           |
2   | <event #2 name>           | <event #2 date>           |
3   | <event #3 name>           | <event #3 date>           |
4   | <event #4 name>           | <event #4 date>           |
5   | <event #5 name>           | <event #5 date>           |
=============================================================
```
To sort dictionary, you can use `sorted_dict = sorted(dict.items(), key=lambda kv: kv[1])` syntax.

* `move_event()` :
  * Inputs :
    * `self` : ;
    * `name` : String, name of event that should been moved. If name does not exist in events, print an error and do nothing.
    * `movement` : Integer. If it's positive, date of event must go `movement` days next (Using `Special_Date.next()` call). If it's negitive, date of event must go `movement` days back (Using `Special_Date.previous()` call).
  * Return value : Result date. Note that event date must overwritten by target date; Then target date will be returned. 

* `__getitem__()` :
  * Inputs :
    * `self` : ;
    * `index` : A string or a `Special_Date` instance.
  * Return value :
    * If index is a string, return date of event with name `index`. if `index` was not exists as an event name, return `None`.
    * If index is a `Special_Date` instance, return a list of event names with same date. If there is no event with this date, return an empty list.

In [ ]:
class Calendar :
  def __init__(self, name) :
    self.name = name
    self.events = dict()

  def new_date(self, date) :
    d = Special_Date()
    d.set_date(date)
    return d

  def add_event(self, name, date) :
    if name not in self.events :
      self.events[name] = self.new_date(date)
    else :
      print('This event already exists')

  def size(self) :
    return len(self.events)

  def __str__(self) :
    sorted_events = sorted(self.events.items(), key=lambda kv: kv[1])
    output  = "Calendar Name : {} | Size of calendar : {}  \n".format(self.name, self.size())
    output += "=============================================================\n"
    for i,(event,date) in enumerate(sorted_events) :
      output += "{}     | {}\t\t\t| {}\t    |\n".format(i,event,date)
    output += "=============================================================\n"
    return output

  def move_event(self, name, movement) :
    if name not in self.events :
      print(name+' not exists in calendar!')
      return
    result_date = self.events[name].copy()
    if movement > 0 :
      for i in range(movement) :
        result_date = result_date.next()
    else :
      for i in range(-movement) :
        result_date = result_date.previous()
    self.events[name] = result_date
    return result_date

  def __getitem__(self, index) :
    if type(index) == type('') :
      return self.events.get(index, None)
    else :
      result = list()
      for event,date in self.events.items() :
        if index == date :
          result.append(event)
      return result

##############################################################################################
##                                           Test                                           ##
##                                           ....                                           ##
##############################################################################################
calendar = Calendar("My Calendar")
calendar.add_event("Logic Exam","1399-2-7")
calendar.add_event("AI Meeting","1399-3-14")
calendar.add_event("DM Meeting","1399-2-24")
calendar.add_event("NLP Quiz","1399-3-14")

print(calendar)

calendar.add_event("DM Meeting","1399-3-16")
print()

calendar.move_event("DM Meeting", 5)
calendar.move_event("Logic Exam", -32)

print(calendar)

print(calendar["NLP Quiz"])

print(calendar[calendar.new_date("1399-3-14")])

Calendar Name : My Calendar | Size of calendar : 4
=============================================================
0     | Logic Exam			| 1399-02-07	    |
1     | DM Meeting			| 1399-02-24	    |
2     | AI Meeting			| 1399-03-14	    |
3     | NLP Quiz			| 1399-03-14	    |
=============================================================

This event already exists

Calendar Name : My Calendar | Size of calendar : 4
=============================================================
0     | Logic Exam			| 1399-01-06	    |
1     | DM Meeting			| 1399-02-29	    |
2     | AI Meeting			| 1399-03-14	    |
3     | NLP Quiz			| 1399-03-14	    |
=============================================================

1399-03-14
['AI Meeting', 'NLP Quiz']

#### _Exercise M.2_
Create a class named `GregorianCalendar`, which will inherit from the `Calendar` class. Do followings :

* Add `"(Gregorian)"` at the end of `name` property.

* Overwrite `new_date()` function of this class to initialize `Special_Date` instance with Gregorian calendar limits; Overwrite `Special_Date` instances `number_of_days()` method with :
```
def gregorian_number_of_days(year, month) :
    days = [31,28,31,30,31,30,31,31,30,31,30,31]
    return days[month-1] + ((year%4 == 1) * (month == 2))
```
And set `max_year` to 2050. Also in this function (`new_date()`) set `Special_Date` instances `str_format` to `"$dd$th of $yy/mm$"`.

* Add `first_event()` :
  * Inputs :
    * `self` : ;
    * `after[default="0-0-0"]` : ;
  * Return value : Name of first event with date greater than `after`.

In [ ]:
class GregorianCalendar(Calendar) :
  
  def __init__(self, name) :
    super().__init__(name)
    self.name += " (Gregorian)"

  def new_date(self, date) :
    def gregorian_number_of_days(self, year, month) :
      days = [31,28,31,30,31,30,31,31,30,31,30,31]
      return days[month-1] + ((year%4 == 1) * (month == 2))
    new = Date(max_year=2050)
    new.number_of_days = gregorian_number_of_days
    new.set_format("$dd$th of $yy/mm$")
    new.set_date(date)
    return new
  
  def first_event(self, after="1-1-1") :
    after = self.new_date(after)
    sorted_events = sorted(self.events.items(), key=lambda kv: kv[1])
    for event,date in sorted_events :
      if date > after :
        return event

##############################################################################################
##                                           Test                                           ##
##                                           ....                                           ##
##############################################################################################
calendar = GregorianCalendar("My Calendar")
calendar.add_event("Logic Exam","2020-2-7")
calendar.add_event("AI Meeting","2020-3-14")
calendar.add_event("DM Meeting","2020-2-24")
calendar.add_event("NLP Quiz","2020-3-14")

print(calendar)


print(calendar.first_event())
print(calendar.first_event(after="2020-2-10"))

Calendar Name : My Calendar (Gregorian) | Size of calendar : 4
=============================================================
0     | Logic Exam			| 07th of 20/02	    |
1     | DM Meeting			| 24th of 20/02	    |
2     | AI Meeting			| 14th of 20/03	    |
3     | NLP Quiz			| 14th of 20/03	    |
=============================================================

Logic Exam
DM Meeting